<!DOCTYPE html>
<html lang="en">

<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="./marker-icon-2x.png" type="image/x-icon" sizes="640x640" />
    <title>Регистрация</title>
    </head>
<body class="body">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand active" href="#">Админимтративная проблема</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="./map_table.html">Анализ экопроблем</a></li>
                <li><a href="./map_table_eco_placement.html">Анализ экообстановки</a></li>
                <li><a href="./achivments_proba.html">Пользователи</a></li>
            </ul>
        </div>
    </nav>
    <div class="header">
        <button onclick="window.location.href='./login.html'" class="glow-on-hover1">Вход</button>
    </div>
<div class="form-reg">
    <div class="row">
<!--        <div th:if="${param.success}">-->
<!--            <div class="alert alert-info">Вы успешно зарегистрированы в нашем замечательном приложении!</div>-->
<!--        </div>-->

<!--        <div th:if="${param.email_invalid}">-->
<!--            <div class="alert alert-danger">Электронная почта уже зарегистрирована!</div>-->
<!--        </div>-->

        <form id="registrationForm" action="/api/registration" method="POST">
            <h3 class="tekstik1">Регистрация</h3>
                <div class="form-group">
                <input type="text" class="form-control_reg" id="firstName" name="firstName" placeholder="Имя" required>
                <input type="text" class="form-control_reg" id="lastName" name="lastName" placeholder="Фамилия" required>
                <input type="email" class="form-control_reg" id="email" name="email" placeholder="Электронная почта" required>
                <input type="password" class="form-control_reg" id="password" name="password" placeholder="Пароль" required>
                </div>
                    <button type="submit" class="glow-on-hover2">Зарегистрироваться</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>

